<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeekhan.wx.mapper.FansBasicMapper">
  <resultMap id="BaseResultMap" type="com.jeekhan.wx.model.FansBasic">
    <id column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="headimgurl" jdbcType="VARCHAR" property="headimgurl" />
    <result column="subscribe_time" jdbcType="TIMESTAMP" property="subscribeTime" />
    <result column="unionid" jdbcType="VARCHAR" property="unionid" />
    <result column="tagid_list" jdbcType="VARCHAR" property="tagidList" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="subscribe_scene" jdbcType="VARCHAR" property="subscribeScene" />
    <result column="qr_scene" jdbcType="INTEGER" property="qrScene" />
    <result column="qr_scene_str" jdbcType="VARCHAR" property="qrSceneStr" />
    <result column="is_black" jdbcType="CHAR" property="isBlack" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    open_id, nickname, sex, language, country, province, city, headimgurl, subscribe_time, 
    unionid, tagid_list, remark, subscribe_scene, qr_scene, qr_scene_str, is_black, update_time
  </sql>
  
  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_fans_basic
    where open_id = #{openId,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteById" parameterType="java.lang.String">
    delete from tb_fans_basic
    where open_id = #{openId,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.jeekhan.wx.model.FansBasic">
    insert into tb_fans_basic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="openId != null">
        open_id,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="language != null">
        `language`,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="headimgurl != null">
        headimgurl,
      </if>
      <if test="subscribeTime != null">
        subscribe_time,
      </if>
      <if test="unionid != null">
        unionid,
      </if>
      <if test="tagidList != null">
        tagid_list,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="subscribeScene != null">
        subscribe_scene,
      </if>
      <if test="qrScene != null">
        qr_scene,
      </if>
      <if test="qrSceneStr != null">
        qr_scene_str,
      </if>
      <if test="isBlack != null">
        is_black,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="language != null">
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="headimgurl != null">
        #{headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="subscribeTime != null">
        #{subscribeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="unionid != null">
        #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="tagidList != null">
        #{tagidList,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="subscribeScene != null">
        #{subscribeScene,jdbcType=VARCHAR},
      </if>
      <if test="qrScene != null">
        #{qrScene,jdbcType=INTEGER},
      </if>
      <if test="qrSceneStr != null">
        #{qrSceneStr,jdbcType=VARCHAR},
      </if>
      <if test="isBlack != null">
        #{isBlack,jdbcType=CHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com.jeekhan.wx.model.FansBasic">
    update tb_fans_basic
    <set>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="language != null">
        `language` = #{language,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="headimgurl != null">
        headimgurl = #{headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="subscribeTime != null">
        subscribe_time = #{subscribeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="unionid != null">
        unionid = #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="tagidList != null">
        tagid_list = #{tagidList,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="subscribeScene != null">
        subscribe_scene = #{subscribeScene,jdbcType=VARCHAR},
      </if>
      <if test="qrScene != null">
        qr_scene = #{qrScene,jdbcType=INTEGER},
      </if>
      <if test="qrSceneStr != null">
        qr_scene_str = #{qrSceneStr,jdbcType=VARCHAR},
      </if>
      <if test="isBlack != null">
        is_black = #{isBlack,jdbcType=CHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where open_id = #{openId,jdbcType=VARCHAR}
  </update>

  <!-- 根据条件分页获取所有数据 -->
  <select id="selectAll" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_fans_basic 
    <where>
    <if test="params.openId != null">
  	  and open_id = #{params.openId} 
    </if>
    <if test="params.nickname != null">
      and nickname = #{params.nickname}
     </if>
     <if test="params.sex != null">
   	  and sex = #{params.sex}
     </if>
     <if test="params.language != null">
       and `language` = #{params.language}
     </if>
     <if test="params.country != null">
       and country = #{params.country}
     </if>
     <if test="params.province != null">
       and province = #{params.province}
     </if> 
     <if test="params.city != null">
       and city = #{params.city}
     </if>    
     <if test="params.subscribeTimeBegin != null">
       and subscribe_time &gt; concat(#{params.subscribeTimeBegin},' 00:00:00')
     </if>
     <if test="params.subscribeTimeEnd != null">
       and subscribe_time &lt; concat(#{params.subscribeTimeEnd},' 23:59:59')
     </if>     
     <if test="params.tagid != null">
       and tagid_list like concat('%,',#{params.tagid},',%')
     </if>
     <if test="params.subscribeScene != null">
       and subscribe_scene = #{params.subscribeScene}
     </if>
     <if test="params.qrScene != null">
       and qrScene = #{params.qrScene}
     </if>
     <if test="params.qrSceneStr != null">
       and qrSceneStr = #{params.qrSceneStr}
     </if>
     <if test="params.isBlack != null">
       and is_black = #{params.isBlack}
     </if>  
    </where>
    order by subscribe_time desc 
    limit #{pageCond.begin,jdbcType=INTEGER},#{pageCond.pageSize,jdbcType=INTEGER}
  </select>
  
  <!-- 根据条件统计条数 -->
  <select id="countAll" parameterType="map" resultType="int">
    select count(1)
    from tb_fans_basic 
    <where>
    <if test="params.openId != null">
  	  and open_id = #{params.openId} 
    </if>
    <if test="params.nickname != null">
      and nickname = #{params.nickname}
     </if>
     <if test="params.sex != null">
   	  and sex = #{params.sex}
     </if>
     <if test="params.language != null">
       and `language` = #{params.language}
     </if>
     <if test="params.country != null">
       and country = #{params.country}
     </if>
     <if test="params.province != null">
       and province = #{params.province}
     </if> 
     <if test="params.city != null">
       and city = #{params.city}
     </if>    
     <if test="params.subscribeTimeBegin != null">
       and subscribe_time &gt; concat(#{params.subscribeTimeBegin},' 00:00:00')
     </if>
     <if test="params.subscribeTimeEnd != null">
       and subscribe_time &lt; concat(#{params.subscribeTimeEnd},' 23:59:59')
     </if>       
     <if test="params.tagid != null">
       and tagid_list like concat('%,',#{params.tagid},',%')
     </if>
     <if test="params.subscribeScene != null">
       and subscribe_scene = #{params.subscribeScene}
     </if>
     <if test="params.qrScene != null">
       and qrScene = #{params.qrScene}
     </if>
     <if test="params.qrSceneStr != null">
       and qrSceneStr = #{params.qrSceneStr}
     </if>
     <if test="params.isBlack != null">
       and is_black = #{params.isBlack}
     </if>  
    </where>  
  </select>
  
  <!-- 为用户打标签 -->
  <update id="addTag" parameterType="map" >
   update tb_fans_basic t
   set t.tagid_list = concat('0,',#{tagid,jdbcType=INTEGER},substring(REPLACE(t.tagid_list, concat(',',#{tagid,jdbcType=INTEGER},','), ','),2))
   where t.open_id = #{openId,jdbcType=VARCHAR}
  </update>
  
  <!-- 收回所有用户身上的标签 -->
  <update id="removeTag" parameterType="map" >
   update tb_fans_basic t
   set t.tagid_list = REPLACE(t.tagid_list, concat(',',#{tagid,jdbcType=INTEGER},','), ',') 
   where t.tagid_list like concat('%,',#{tagid,jdbcType=INTEGER},',%')
  </update>
 
</mapper>