<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeekhan.wx.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.jeekhan.wx.model.SysUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="passwd" jdbcType="VARCHAR" property="passwd" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="role_lvl" jdbcType="CHAR" property="roleLvl" />
    <result column="status" jdbcType="CHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, email, sex, passwd, introduce, update_time, role_lvl, status
  </sql>
  
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_sys_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_sys_user
    where username = #{username,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from tb_sys_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.jeekhan.wx.model.SysUser">
    insert into tb_sys_user (id, username, email, 
      sex, passwd, introduce, 
      update_time, role_lvl, status
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{sex,jdbcType=CHAR}, #{passwd,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{roleLvl,jdbcType=CHAR}, #{status,jdbcType=CHAR}
      )
  </insert>

  <update id="updateById" parameterType="com.jeekhan.wx.model.SysUser">
    update tb_sys_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="passwd != null">
        passwd = #{passwd,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null">
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roleLvl != null">
        role_lvl = #{roleLvl,jdbcType=CHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>
